name: FrogStatus CI Build

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write  # Required for OIDC authentication with JFrog
      # security-events: write # needed?

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Setup JFrog command line tool
        id: jfcli-setup
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: latest
          oidc-provider-name: ${{ vars.JF_OIDC_PROVIDER }}
          oidc-audience: ${{ vars.JF_URL }}
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_PROJECT: ${{ vars.JF_PROJECT_KEY}}
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          echo "Pinging JFrog Artifactory instance"
          jf -v
          jf rt ping

      - name: Install dependencies
        env: 
          JF_NPM_REPOSITORY = ${{ vars.JF_NPM_REPOSITORY }}
        run: |
          jf npmc --global=true --repo-resolve "$JF_NPM_REPOSITORY" 
          jf npm install

      - name: Run tests
        run: npm test

      - name: Build application
        run: npm run build

      

      # TODO: Collect build environment info
      # - name: Collect build environment
      #   run: jf rt build-collect-env frogstatus ${{ github.run_number }}

      # TODO: Add git information to build
      # - name: Add git info to build
      #   run: jf rt build-add-git frogstatus ${{ github.run_number }}

      # TODO: Publish build info to Artifactory
      # - name: Publish build info
      #   run: jf rt build-publish frogstatus ${{ github.run_number }}

      # TODO: Scan build with Xray
      # - name: Scan build with Xray
      #   run: jf build-scan frogstatus ${{ github.run_number }}

  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -f infra/Dockerfile -t frogstatus:${{ github.sha }} .

      # TODO: Push Docker image to Artifactory
      # - name: Push to Artifactory
      #   run: |
      #     docker tag frogstatus:${{ github.sha }} ${{ secrets.ARTIFACTORY_REGISTRY }}/frogstatus:${{ github.sha }}
      #     docker push ${{ secrets.ARTIFACTORY_REGISTRY }}/frogstatus:${{ github.sha }}

      # TODO: Scan Docker image with Xray
      # - name: Scan Docker image
      #   run: jf docker scan ${{ secrets.ARTIFACTORY_REGISTRY }}/frogstatus:${{ github.sha }}
